.about_us {
    padding: 100px 0px;
    min-height: $height;
    background:
        url(images/pattern.jpeg),
        linear-gradient(270deg, #F4F2F2 18.35%, #FFFFFF 84.09%);
    background-blend-mode: overlay;
    background-size: contain;
    box-shadow: inset 0px 4px 40px rgba(0, 0, 0, 0.1);
    text-align: center;
}
    
.about__dish {
        width: 100%;
    }
.about__cook {
        margin: 15px;
        transform: translate(40px);
    }
