.reservation {
    padding: 100px 0px;
    min-height: $height;
    background:
        url(images/pattern.jpeg),
        linear-gradient(270deg, #F4F2F2 18.35%, #FFFFFF 84.09%);
    background-blend-mode: overlay;
    background-size: contain;
    box-shadow: inset 0px 4px 40px rgba(0, 0, 0, 0.1);
    text-align: center;
    
    &__item {
        
    }
    
    &__form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0px 20px;
    }
    &__form input {
        display: block;
        font-style: italic;
        border: 1px solid #ccc;
        padding: 7px 50px 7px 8px;
    }
    &__form input:focus {
        outline: none;
        border-color: $color_orange;
    }
    
    &__form p {
        display: block;
        padding: 20px 0 0 0;
        color: $color_orange;
        font: {
            weight: bold;
            size: 14px;
        }
        text-align: left;
    }
}

.button {
    margin: 30px auto;
}
.button input {
    background-color: $color_orange;
    color: $color_white;
    font-style: normal;
    padding: 10px 60px;
}

img {
    width: 100%;
}