$color_white: #fff;
$color_grey: #4c4c4c;
$color_silver: #9b9b9b;
$color_orange: #cc9900;

$f_yeseva: 'Yeseva One', cursive;
$f_lato: 'Lato', sans-serif;
$f_gentium: 'Gentium Book Basic', serif;

$height: 750px;
